@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Set global colors */
:root {
  --red: #b00;
  --bg-white: #f8f9fa;
  --g4l-green: #2d572b;
  --g4l-greeny-blue: #2b5d6b;
  --g4l-purple: #2d2b57;
  --g4l-dark-blue: #344767;
  --g4l-blue: #007fa3;
  --g4l-orange: #b76928;
  --g4l-grey-light: #00000080;
  --g4l-grey: #67748e;
  --red-alpha-5: #bb000080;
  --g4l-greeny-blue-alpha-5: #2b5d6b80;
  --g4l-orange-alpha-5: #b7682883;
  --g4l-present: #00a99d;
  --g4l-absent: #ff0000;
  --g4l-late-leave: #b76701;
  --g4l-goal-state-border: 4px solid;
  --g4l-backlog-state-color: #ffb800;
  --g4l-started-state-color: #397097;
  --g4l-paused-state-color: #d1001f;
  --g4l-completed-state-color: #45ac42;
  --g4l-archived-state-color: #6e0280;
  --g4l-goal-state-opacity: .3;
}

/* You can add global styles to this file, and also import other style files */
.present {
  color: var(--g4l-present);
}

.absent {
  color: var(--g4l-absent);
}

.late {
  color: var(--g4l-late-leave);
}

.leave {
  color: var(--g4l-late-leave);
}

.bg-green {
  background-color: var(--g4l-green) !important;
}

.bg-greeny-blue {
  background-color: var(--g4l-greeny-blue) !important;
}

.bg-purple {
  background-color: var(--g4l-purple) !important;
}

.bg-dark-blue {
  background-color: var(--g4l-dark-blue) !important;
}

.bg-blue {
  background-color: var(--g4l-blue) !important;
}

.bg-orange {
  background-color: var(--g4l-orange) !important;
}

.grey-table {
  color: #67748e !important;
}

.bg-gray-100 {
  background-color: var(--bg-white) !important;
}

/* Validation error styles */
.white-text {
  color: var(--bg-white);
}

.red-text {
  color: var(--red) !important;
}

.g4l-grey-text {
  color: var(--g4l-grey) !important;
}

.green-text {
  color: #008000 !important;
}

.bg-5-green {
  background-color: #00800080 !important;
}

.bg-5-g4l-greeny-blue {
  background-color: var(--g4l-greeny-blue-alpha-5) !important;
}

.g4l-greeny-blue-text {
  color: var(--g4l-greeny-blue) !important;
}

.g4l-green {
  color: var(--g4l-green) !important;
}

.bg-5-g4l-orange {
  background-color: var(--g4l-orange-alpha-5) !important;
}

.g4l-orange {
  color: var(--g4l-orange) !important;
}

.g4l-orange-text {
  color: var(--g4l-orange) !important;
}

.g4l-light-grey-text {
  color: var(--g4l-grey-light) !important;
}

.red-border {
  border: 1px solid var(--red) !important;
}

.bg-5-red {
  background-color: var(--red-alpha-5) !important;
}

.arrow {
  padding: 4.2rem 0rem 0rem 0rem;
  text-align: center;
  width: fit-content;
}

.dark-blue {
  background-color: var(--g4l-dark-blue) !important;
}

/* main content */
.position-relative {
  position: relative !important;
}

.max-height-vh-100 {
  max-height: 100vh !important;
}

.border-radius-lg {
  border-radius: 0.75rem;
}

.ps {
  /* overflow: hidden !important; */
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

main.main-content {
  margin-left: 17rem;
}

/* Side nav */
.active.fas.fa-home.icon.icon-shape.icon-sm.border-radius-md {
  color: var(--bs-light);
}

.icon {
  display: inline-block;
  color: #111111;
  height: 1em;
  width: 1em;
}

.icon-sm {
  height: 0.8em;
  width: 0.8em;
}

.icon {
  fill: currentColor;
  stroke: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #cb0c9f;
  text-decoration: none;
}

a:hover {
  color: #830866;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

.collapse:not(.show) {
  display: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  padding-top: 0.40625rem;
  padding-bottom: 0.40625rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

/* .shadow {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
} */

.position-absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.border-0 {
  border: 0 !important;
}

.border-0 {
  border-width: 0 !important;
}

.w-auto {
  width: auto !important;
}

.h-100 {
  height: 100% !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.m-0 {
  margin: 0 !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-secondary {
  color: #8392ab !important;
}

.bg-white {
  background-color: #fff !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

.icon-shape {
  width: 48px;
  height: 48px;
  background-position: center;
  border-radius: 0.75rem;
}

.icon-sm {
  width: 32px;
  height: 32px;
}

hr.horizontal {
  background-color: transparent;
}

hr.horizontal.dark {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}

.border-radius-md {
  border-radius: 0.5rem;
}

.border-radius-xl {
  border-radius: 1rem;
}

@media (max-width: 767.98px) {
  hr.horizontal {
    background-color: transparent;
  }
}

@media (max-width: 767.98px) {
  hr.horizontal.dark {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
  }
}

.navbar {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.navbar .navbar-brand {
  color: #252f40;
  font-size: 0.875rem;
}

.navbar .nav-link {
  color: #252f40;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  letter-spacing: -0.025rem;
  color: #000;
}

.text-xs {
  line-height: 1.25;
  font-size: 0.85rem !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-bolder {
  font-weight: 500 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-5 {
  opacity: 0.5 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.w-15 {
  width: 15% !important;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse .navbar-nav {
    width: 100%;
  }
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-width: 100%;
  max-height: 2rem;
}

.navbar-vertical .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  color: #67748e;
}

.navbar-vertical .navbar-nav .nav-link > i {
  min-width: 1.8rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.navbar-vertical.navbar-expand-xs {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 15.625rem !important;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
  overflow: inherit;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  overflow: auto;
  height: 100%;
}

.navbar-vertical.navbar-expand-xs.fixed-left {
  left: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
  margin: 0 1rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text {
  pointer-events: none;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
  width: 100%;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item {
  margin-top: 0.125rem;
}

.sidenav,
.main-content {
  transition: all 0.2s ease-in-out;
}

.sidenav {
  z-index: 1050;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
  display: block;
}

@media (min-width: 1200px) {
  .sidenav:hover {
    max-width: 15.625rem;
  }
}

.sidenav .navbar-brand {
  padding: 1rem 3rem;
}

.g-sidenav-show .sidenav .nav-link-text {
  transition: 0.3s ease;
  opacity: 1;
}

/* @media (max-width: 1199.98px) {
  .g-sidenav-show:not(.rtl) .sidenav {
    transform: translateX(-17.125rem);
  }
} */

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
  color: #252f40;
  background-color: #fff;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
  background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

ol,
ul {
  padding-left: 2rem;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #cb0c9f;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #830866;
}

img,
svg {
  vertical-align: middle;
}

.collapse:not(.show) {
  display: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  padding-top: 0.40625rem;
  padding-bottom: 0.40625rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

/* .shadow {
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
} */

.position-absolute {
  position: absolute !important;
}

.border-0 {
  border: 0 !important;
}

.border-0 {
  border-width: 0 !important;
}

.w-auto {
  width: auto !important;
}

.h-100 {
  height: 100% !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.m-0 {
  margin: 0 !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.text-secondary {
  color: #8392ab !important;
}

.bg-body,
.bg-white {
  background-color: #fff !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

.icon-shape {
  width: 48px;
  height: 48px;
  background-position: 50%;
  border-radius: 0.75rem;
}

.icon-sm {
  width: 32px;
  height: 32px;
}

hr.horizontal {
  background-color: transparent;
}

hr.horizontal.dark {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );
}

.border-radius-md {
  border-radius: 0.5rem;
}

.border-radius-xl {
  border-radius: 1rem;
}

@media (max-width: 767.98px) {
  hr.horizontal {
    background-color: transparent;
  }
}

@media (max-width: 767.98px) {
  hr.horizontal.dark {
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.4),
      transparent
    );
  }
}

.navbar {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #252f40;
  font-size: 0.875rem;
}

.navbar .nav-link {
  padding: 0.5rem 1rem;
  font-weight: 400;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  letter-spacing: -0.025rem;
  color: #000;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-5 {
  opacity: 0.5 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.w-15 {
  width: 15% !important;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    position: relative;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse .navbar-nav {
    width: 100%;
  }
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand > img {
  max-height: 6rem;
}

.navbar-vertical .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  color: #67748e;
}

.navbar-vertical .navbar-nav .nav-link > i {
  min-width: 1.8rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.main-content,
.sidenav {
  transition: all 0.2s ease-in-out;
}

.sidenav {
  z-index: 999;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
  display: block;
}

@media (min-width: 1200px) {
  .sidenav:hover {
    max-width: 15.625rem;
  }
}

.sidenav-header {
  height: 7.875rem;
}

.g-sidenav-show .sidenav .nav-link-text {
  transition: 0.3s ease;
  opacity: 1;
}

.navbar-vertical .navbar-nav .nav-link.active {
  font-weight: 500;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #092f4f;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
  background-image: linear-gradient(310deg, #cb0c9f, #cb0c9f);
  color: #ffffff;
}

.icon {
  color: #092f4f;
}

/* Card */

/* Mini table */
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: rgba(0, 0, 0, 0.125);
  --bs-card-border-radius: 1rem;
  --bs-card-box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  --bs-card-inner-border-radius: 1rem;
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: #fff;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.py-4 {
  padding: 1.5rem !important;
}

.btn:not([class*="btn-outline-"]) {
  border: 0;
}

.btn-danger,
.btn-danger:hover,
.btn-dark,
.btn-dark:hover,
.btn-info,
.btn-info:hover,
.btn-primary,
.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover,
.btn-success,
.btn-success:hover,
.btn-warning,
.btn-warning:hover,
.btn.bg-gradient-danger,
.btn.bg-gradient-danger:hover,
.btn.bg-gradient-dark,
.btn.bg-gradient-dark:hover,
.btn.bg-gradient-info,
.btn.bg-gradient-info:hover,
.btn.bg-gradient-primary,
.btn.bg-gradient-primary:hover,
.btn.bg-gradient-secondary,
.btn.bg-gradient-secondary:hover,
.btn.bg-gradient-success,
.btn.bg-gradient-success:hover,
.btn.bg-gradient-warning,
.btn.bg-gradient-warning:hover {
  color: #fff;
}

.btn {
  margin-bottom: 1rem;
  letter-spacing: -0.025rem;
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  background-size: 150%;
  background-position-x: 25%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.btn-group-sm > .btn,
.btn-sm {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 2rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #344767;
  --bs-btn-border-color: #344767;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2c3c58;
  --bs-btn-hover-border-color: #2a3952;
  --bs-btn-focus-shadow-rgb: 82, 99, 126;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2a3952;
  --bs-btn-active-border-color: #27354d;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #344767;
  --bs-btn-disabled-border-color: #344767;
}

.card .card-header {
  padding: 1.5rem;
  text-transform: uppercase;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dropdown-toggle::after {
  display: none;
}

aside#sidenav-main {
  background-color: white;
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: #0000008d;
}

.modal-backdrop.show {
  opacity: 100% !important;
}

.mat-form-field {
  display: block !important;
}

.mat-form-field-flex {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  padding: 0px !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 10px !important;
  position: relative;
  bottom: 5px;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.border-grey {
  border: 1px solid lightgrey;
  box-shadow: none !important;
}

.border-radius {
  border-radius: 50px !important;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.dark-border {
  border: 1px solid var(--g4l-dark-blue) !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--bg-white) !important;
}

.mat-select-arrow-wrapper {
  position: relative !important;
  top: 5px !important;
  display: none;
}

.table-responsive {
  overflow-x: visible;
}

ul.dropdown-menu.show {
  padding: 0px;
}

.vl {
  border-left: 6px solid var(--g4l-greeny-blue);
  border-radius: 5px;
  height: 80%;
  position: absolute;
  left: 5%;
  margin-left: 0px;
  top: 11%;
}

.notification-card {
  border-radius: 1rem !important;
  border: none;
  background-color: #f8f9fa;
}

.pls-2 {
  padding-left: 3rem;
}
