<div class="card" style="height: 83vh;">
  <div class="card-body p-3" style="overflow-x: auto;">
    <div class="card-header pb-0">
      <h6>{{ title }}</h6>
    </div>
    <div class="p-2" style="border-radius: 5px">
      <div class="card mb-3 rounded-1 shadow-sm notification-card" *ngFor="let event of events">
        <div class="vl"></div>
        <div class="card-body pls-2">
          <!-- <h6 class="card-title">{{ event.title }}</h6> -->
          <p class="text-xs fw-bolder text-uppercase grey-table mb-2">
            {{ event?.title }} | {{ getTimeSpan(event?.timeSpan) }}
          </p>
          <p class="card-text mb-2 grey-table text-xs">
            <i class="fa-solid fa-calendar-day"></i>&nbsp;&nbsp; {{ event?.startDate | date: 'EEEE, d MMMM' }}
          </p>
          <p class="card-text mb-2 grey-table text-xs">
            <i class="fa-solid fa-clock grey-table"></i>&nbsp;&nbsp; {{ getTimeSpan(event?.timeSpan) }}
          </p>
          <p class="card-text grey-table text-xs">
            <i class="fa-solid fa-chalkboard-user grey-table"></i
            >&nbsp;&nbsp; {{ event?.organizer.displayName }}
          </p>
        </div>
      </div>
      <!-- <div class="card mb-3 rounded-1 shadow-sm notification-card">
        <div class="vl"></div>
        <div class="card-body pls-2">
          <h6 class="card-title">Upcoming event</h6>
          <p class="text-xs fw-bolder text-uppercase grey-table mb-2">
            C# Workshop | 3 hrs<br />
          </p>
          <p class="card-text mb-2 grey-table text-xs">
            <i class="fa-solid fa-calendar-day"></i>&nbsp;&nbsp; 31 August
            2022
          </p>
          <p class="card-text mb-2 grey-table text-xs">
            <i class="fa-solid fa-clock grey-table"></i>&nbsp;&nbsp; 8 AM
            - 11 AM
          </p>
          <p class="card-text grey-table text-xs">
            <i class="fa-solid fa-chalkboard-user grey-table"></i
            >&nbsp;&nbsp; Mr. M. Shilenge
          </p>
        </div>
      </div>
      <div class="card mt-2 mb-2 rounded-1 shadow-sm" style="border-radius: 1rem !important;border: none;background-color: #efefef;">
          <div class="card-body pls-2">
              <div class="vl" style="border-left: 6px solid green;border-radius: 5px;height: 35%;position: absolute;left: 5%;margin-left: 0px;top: 11%;"></div>
              <h4 class="card-title">Message | Project Simulation</h4>
              <h6 class="text-muted card-subtitle mb-2">Message from Moses Shilenge<br /></h6>
          </div>
          <div class="card-body" style="background-color: #dcdcdc;border-radius: 0px 0px 15px 15px;">
              <p class="card-text">&quot;Hi guys, <br />Please meet me on Friday for a sprint presentation&quot;</p>
          </div>
      </div> -->
    </div>
  </div>
</div>
