<div class="row">
  <div class="col">
    <h3>Register</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="form">
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label
                for="name"
                [ngClass]="{
                  'red-text':
                    registerForm.controls['name'].touched &&
                    registerForm.controls['name'].invalid
                }"
              >Name: </label>
              <input
                type="text"
                name="name"
                id="name"
                formControlName="name"
                [ngClass]="{
                  'red-border':
                    registerForm.controls['name'].touched &&
                    registerForm.controls['name'].invalid
                }"
              />
              <div
                class="red-text"
                *ngIf="
                  registerForm.controls['name'].touched &&
                  registerForm.controls['name'].invalid
                "
              >
                <div *ngIf="registerForm.controls['name'].hasError('required')">
                  Please provide your name.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6"></div>
          <div class="col-6"></div>
        </div>
      </form>
    </div>
  </div>
</div>
