.formcontrol {
    margin-bottom: 1rem;
    /*padding-right: 70pt;*/
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  #Disability{
    height: 100pt;
    width: 365pt;
  }
  
  .form-container {
    /* background-color: aqua; */
    padding: 6rem !important;
    margin-left: 100pt;
    
  }

  .container{
    font-family: Inter;

  }
  
  .d-block{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13pt;
    
    font-weight: 600;
    word-wrap: break-word;
    margin: 1rem auto;
  }
  
  .svg-container {
    width: 50px;
    height: 50px;
    position: relative;
    /*padding-top: 90pt;*/
  }
  
  .dropdown_gender {
    width: 70pt;
    padding: 1pt;
    border: 1pt solid #ccc;
    border-radius: 5px;
  }
  
  .btn{
    padding-right: 7rem;
  }
  
  .applicant-name {
    position: absolute;
    top: 22px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: #f9f9f9;
    padding: 10px;
    font-family: Inter;
  }
  
  .applicant-name-profile-icon{
    position: absolute;
    top: 25px; /* Adjust the top position as needed */
    right: 160px; /* Adjust the right position as needed */
    background-color: #f9f9f9;
    padding: 10px;
    background-color: transparent;
  }
  
  .applicant-name-profile-outercircle-icon{
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 155px; /* Adjust the right position as needed */
    background-color: #f9f9f9;
    padding: 10px;
    background-color: transparent;
  }
  
  .nb1-middle-icon{
    /* position: absolute;
     top: 20px; /* Adjust the top position as needed 
    margin-left: 150px; */
    margin-bottom: 10px;
    margin-right: 15px;
  }
  
  .pd-middle-icon{
  margin-bottom: 0pt;
  }
  
  .personal-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .side-nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 270px;
      height: 100%;
      color: beige;
      background-color: transparent;
  }
  
  .logo{
    background-color: transparent;
    position: fixed;
  }
  
  .learnership-application{
    position: fixed;
    margin-left: -23pt;
    margin-top: 112pt;
    height: 48px;
    width: 123px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .col-disability{
    height: 80pt;
    text-align: left; vertical-align: top;
  }
  
  /*sidenave styling*/
  .personal-information-icon{
      position: fixed;
      margin-left: 29pt;
      margin-top: 8pt;
      height: 55px;
      width: 90px;
    }
  
    .personal-information-label{
      position: fixed;
      margin-left: 5pt;
      margin-top: 53pt;
      height: 40px;
      width: 160px;
    }
  
    .nb1-icon{
      position: fixed;
      margin-left: -17pt;
      padding-left: pt;
      margin-top: 54pt;
      height: 20px;
      width: 30px;
  }
  
  .arrow-down{
    position: fixed;
      margin-left: 38pt;
      margin-top: 92pt;
      height: 40px;
      width: 60px;
  }
  
  .education-head-nav-icon{
    position: fixed;
      margin-left: 44pt;
      margin-top: 145pt;
      height: 40px;
      width:46px;
      /* font-size: 60pt; */
  }
  
  .education-body-nav-icon{
    position: fixed;
      margin-left: 38pt;
      margin-top: 155pt;
      height: 40px;
      width: 60px;
  }
  
  .education-nav-label{
    position: fixed;
      margin-left: 33pt;
      margin-top: 203pt;
      height: 40px;
      width: 80px;
  }
  
  .nb2-icon{
    position: fixed;
      margin-left: 8pt;
      padding-left: pt;
      margin-top: 205pt;
      height: 20px;
      width: 30px;
  }
  
  .arrow-down2{
    position: fixed;
      margin-left: 38pt;
      margin-top: 240pt;
      height: 40px;
      width: 60px;
  }
    
  .attachments-icon-nav{
    position: fixed;
      margin-left: 30pt;
      margin-top: 294pt;
      height: 50px;
      width: 80px;
  }
  
  
  .attachments-nav-label{
    position: fixed;
    margin-left: 33pt;
    margin-top: 350pt;
    height: 40px;
    width: 80px;
  
  }
  
  .nb3-icon{
    position: fixed;
      margin-left: 8pt;
      padding-left: pt;
      margin-top: 352pt;
      height: 20px;
      width: 30px;
  
  }
  /*sidenave styling*/