
<div class="card mb-8">
  <div class="card-header pb-0">
    <h6 class="text-center">Geek Attendance Review</h6>
    <h6 class="text-center">{{name}}</h6>
  </div>
  <div class="card-body px-0 pt-0 pb-2">
<div mat-dialog-content class = "card-body px-0 pt-0 pb-2">
  <div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
            Date
          </th>
          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
            Day
          </th>
          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
            Status
          </th>
          <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
            Log Out Time
          </th>
        </tr>
      </thead>

        <tbody>
            <ng-container *ngFor="let attendances of data.slice(getIndexRange().start, getIndexRange().end); let i = index">
         
            <tr>
                <td>{{attendances.date}}</td>
                <td>{{attendances.date | date:'EEEE'}}</td>
                <td class="align-middle text-xs ps-2 " > <p class="font-weight-bold mb-0" [class]="getStatus(attendances.status)">
                  {{attendances.status}}
                </p></td>
                  <td class="align-middle text-xs ps-2">
                    <ng-container *ngIf="attendances.logOutTime !== null; else elseBlock">
                        <div [ngClass]="{
                          'red-text': unexpectedLogOut,
                          'blue-text': attendances.logOutTime
                        }">
                          {{ attendances.logOutTime}}
                        </div>
                      </ng-container>
                      <ng-template #elseBlock>
                        - - -
                      </ng-template>
              </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
  </div>
</div>
<div style="display: flex; justify-content: space-between; align-items: center; Margin-top: 20px; Margin-left: 20px;">
  <nav aria-label="Page navigation example" style="Margin-top:10px; Margin-left:10px">
    <ul class="pagination">
      <button class="page-link" (click)="prevPage()">Previous</button>
      <li class="page-item">
        <a class="page-link" *ngFor="let page of getPageNumbers()" (click)="currentPage = page">{{ page }}</a>
      </li>
      <button 
      
      
      class="page-link" (click)="nextPage() " [disabled]="isNextButtonDisabled()">Next</button>
    </ul>
  </nav>
    <div mat-dialog-action>
    <button  class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark text-uppercase" >Download</button>
    <span style="margin-right: 10px;"></span> 
    <button  class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark text-uppercase">Done</button>

      </div>
      
</div>
</div>