<div mat-dialog-title class="dialog-container">
<h5>View Weekly Attendance</h5>
</div>
<div mat-dialog-content>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-03-01</td>
                <td>Monday</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>2024-03-02</td>
                <td>Tuesday</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>2024-03-03</td>
                <td>Wednesday</td>
                <td>Absent</td>
            </tr>
            <tr>
                <td>2024-03-04</td>
                <td>Thursday</td>
                <td>Leave</td>
            </tr>
            <tr>
                <td>2024-03-05</td>
                <td>Friday</td>
                <td>Present</td>
            </tr>
            <!-- Add more rows for each day of the month -->
        </tbody>
    </table>
</div>
<div style="display: flex; justify-content: space-between; align-items: center; Margin-top: 20px; Margin-left: 20px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="display: flex; list-style: none; margin: 0; padding: 0;">
            <li class="page-item"></li>
        </ul>
    </nav>

    <div mat-dialog-action>
        <button class="download-button" style="width: 100px;"  href="#">Download</button>
        <button class="done-button" style="width: 100px;"   href="#">Done</button>
    </div>
</div>