<div class="container-fluid m-0 p-0">
  <div class="card m-0 p-0">
    <div class="card-header pb-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h6 class="mb-0 ">LUNCH TIME</h6>
        </div>
        <div class="col-4 text-end">
          <a (click)="close()" class="cursor-pointer">
            <i class="fa-solid fa-xmark"></i></a>
        </div>

        <hr class="horizontal dark my-4" />
      </div>
      <div class="card-body pt-0">
        <form autocomplete="off">
          <div class="row">
            <div class="col p-3">
              <div class="row">
                <div class="col">
                  <h6 class="fw-bold m-1 g4l-grey-text">
                    <i class="fa-solid fa-book"></i>
                    Agile Development
                  </h6>
                  <p class="fw-bold m-1 align-items-center">
                    <i class="fa-solid fa-building mr-1"></i>
                    Hey, its Lunchtime, Don't you want take lunch and continue after lunch.
                  </p>
                </div>
              </div>

              <div class="row mt-4 ">
                <div class="col  text-left">
                  <button class="btn btn-sm bg-2 gradient-primary mb-0  border border-primary text">
                    <i class="fa-solid fa-pen"></i> YES</button>
                </div>
                <div class="col text-end">
                  <button class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark text">
                    NO</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>