footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer > a {
  display: flex;
  align-items: center;
}

footer > .text-center {
  text-align: center;
  margin: 0 auto;
}
