<div class="row sizing p-5">
    <div class="col-md-3 col-xl-3 mb-1 boxes">
        <div class="card shadow border-start-primary py-2 cardStyling">
            <div class="card-body">
                <div class="row align-items-center no-gutters ">
                    <div class="col me-2">
                        <div class="fw-bold text-xs mb-2"><span>
                                <p>Total Pending Leave</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                <h6>{{pending}}</h6>
                            </span></div>
                    </div>
                    <div class="icon icon-shape bg-orange text-center shadow border-radius-md m-3"><i
                            class="fa-solid fa-circle-pause mt-3" style="color:white;"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xl-3 mb-1 boxes1">
        <div class="card shadow border-start-success py-2 cardStyling">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class=" fw-bold text-xs mb-1"><span>
                                <p>Total Approvals</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                <h6>{{approved}}</h6>
                            </span></div>
                    </div>
                    <div class="icon icon-shape bg-purple shadow text-center border-radius-md m-3"><i
                            class="fa-solid fa-circle-check mt-3" style="color:white"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xl-3 mb-1 boxes1">
        <div class="card shadow border-start-warning py-2 cardStyling">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class=" fw-bold text-xs mb-1"><span>
                                <p>Total Rejections</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                <h6>{{rejected}}</h6>
                            </span></div>
                    </div>
                    <div class="icon icon-shape bg-blue shadow text-center border-radius-md m-3">
                        <i class="fa-solid fa-circle-xmark mt-3" style="color:white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xl-3 mb-1 boxes1">
        <div class="card shadow border-start-warning py-2 cardStyling">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class=" fw-bold text-xs mb-1"><span>
                                <p>Cancelled</p>
                            </span></div>
                        <div class="text-dark fw-bold h5 mb-0"><span>
                                <h6>{{cancelled}}</h6>
                            </span></div>
                    </div>
                    <div class="icon icon-shape bg-blue shadow text-center border-radius-md m-3">
                        <i class="fa-solid fa-ban mt-3" style="color:white"></i>
                    </div>
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                </div>
            </div>
        </div>
    </div>
</div>