*[role="form"] {
  max-width: 545px;
  width: 90%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  transform: translate(-50%, -55%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #343434;
  /* box-shadow: 3px 3px 4px rgba(0,0,0,0.2); */
  box-shadow: 0px 1px 18px 12px rgb(0 0 0 / 9%);
}

.logo {
  display: flex;
  justify-content: center;
}

.forgot {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
  margin-top: 5px;
}

.btn-block {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.svg-inline--fa {
  height: 20px;
}

*[role="form"] h6 {
  font-weight: lighter;
  color: grey;
  text-align: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: rgb(1, 52, 255);
  font-weight: 600;
}

.toolbar img {
  margin: 16px;
  width: 225px;
}

.card {
  /* margin: 50%; */
  border: none;
  width: 610px;
  padding: 40px;
  color: rgb(255, 251, 251);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  background: #4579c8;
  background: linear-gradient(90deg, #f88888, #3c6aaf, 100%);
}

.checking {
  margin: 0 auto;
}

.checking a {
  color: rgb(12, 10, 138);
}

/* Override dropdown list */
.form-select {
  font-size: 14px;
  font-weight: 400;
  height: 34px;
}

.validation-error-text {
  color: red;
}

.red-border {
  border: 1px red solid;
}
