@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.card .card-header {
  padding: 1.5rem;
}

.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.col-7 {
  flex: 0 0 auto;
  width: 58.333333%;
}

.text-info {
  color: #17c1e8 !important;
}

/* .table {
  --bs-table-color: #67748e;
  --bs-table-bg: transparent;
  --bs-table-border-color: #e9ecef;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #67748e;
  --bs-table-striped-bg: rgba(0,0,0,.05);
  --bs-table-active-color: #67748e;
  --bs-table-active-bg: rgba(0,0,0,.1);
  --bs-table-hover-color: #67748e;
  --bs-table-hover-bg: rgba(0,0,0,.075);
  border-collapse: inherit;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
*/
.table > :not(caption) > * > * {
  padding: 0.5rem;
  padding-left: 1.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table td .progress {
  height: 5px;
  width: 120px;
  margin: 0;
}

.progress {
  overflow: visible;
}

.progress,
.progress-bar {
  display: flex;
  overflow: hidden;
}

.bg-gradient-info {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}

.bg-gradient-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d);
}

.avatar-sm {
  width: 36px !important;
  height: 36px !important;
  font-size: 0.875rem;
}

.avatar {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0.75rem;
  height: 48px;
  width: 48px;
  transition: all 0.2s ease-in-out;
}

.badge-dot {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: none;
}

.badge,
.btn {
  text-transform: uppercase;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.badge {
  display: inline-block;
  padding: 0.55em 0.9em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
}

.bg-info {
  background-color: #17c1e8 !important;
}

.bg-success {
  background-color: #82d616 !important;
}

.bg-danger {
  background-color: #ea0606 !important;
}

.ps-2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.ellipse {
  position: absolute;
  width: 20.95px;
  height: 20px;
  left: 526.25px;
  top: 183px;

  background: #007fa3;
}

/*pagination styles*/
.page-item{
  display: flex;

}
.page-item a{
  color: #6c757d;
}
.pagination{
  border-radius: 55px;
}
.pagination button{
  color: #092f4f;
}
