<div class="container-fluid m-0 p-0">
  <div class="card m-0 p-0">
    <div class="card-header pb-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h6 class="mb-0 text-uppsercase">Leave request</h6>
        </div>
        <div class="col-4 text-end">
          <a (click)="close()" class="cursor-pointer">
            <i class="fa-solid fa-xmark"></i></a>
        </div>
      </div>
      <hr class="horizontal dark my-3" />
    </div>
    <div class="card-body pt-0">
      <form [formGroup]="formModel" autocomplete="off">
        <div class="row">
          <div class="col p-3">
            <!-- Leave type -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="input-leaveType" [ngClass]="{
                      'red-text':
                        formModel.controls['leaveType'].invalid &&
                        formModel.controls['leaveType'].touched
                    }">Leave type<span class="red-text">*</span></label>
                  <select type="text" id="input-leaveType" class="form-select" formControlName="leaveType" [ngClass]="{
                      'red-border':
                        formModel.controls['leaveType'].invalid &&
                        formModel.controls['leaveType'].touched
                    }">
                    <option *ngFor="let leaveType of keys(leaveTypes)" [ngValue]="leaveType"
                      [disabled]="isAllowed(leaveType) || isDefault(leaveType)">
                      {{ leaveType | removeUnderscore }}
                    </option>
                  </select>
                  <div class="red-text" *ngIf="
                      formModel.controls['leaveType'].invalid &&
                      formModel.controls['leaveType'].touched
                    ">
                    <div *ngIf="formModel.controls['leaveType'].errors.required">
                      Please select a leave type
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- dates -->
            <div class="row mt-3">
              <label class="form-control-label" for="input-date-range" [ngClass]="{
                'red-text':
                  formModel.controls['startDate'].invalid &&
                  formModel.controls['startDate'].touched ||
                  formModel.controls['endDate'].invalid &&
                  formModel.controls['endDate'].touched
              }">Date range<span class="red-text">*</span></label>
              <mat-form-field appearance="fill" class="example-form-field" [ngClass]="{
                'border-red':
                formModel.controls['startDate'].invalid &&
                formModel.controls['startDate'].touched ||
                formModel.controls['endDate'].invalid &&
                formModel.controls['endDate'].touched }">
                <mat-date-range-input [rangePicker]="rangePicker" [dateFilter]="holidaysAndWeekendsDatesFilter">
                  <input matStartDate placeholder="Start date" formControlName="startDate">
                  <input matEndDate placeholder="End date" formControlName="endDate"
                  (dateChange)="dateRangeChange()">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>

              <div class="red-text" *ngIf="
                formModel.controls['startDate'].invalid &&
                formModel.controls['startDate'].touched ||
                formModel.controls['endDate'].invalid &&
                formModel.controls['endDate'].touched">
                <div *ngIf="formModel.controls['startDate'].errors.required">
                  Please select a start date
                </div>
                <div *ngIf="formModel.controls['endDate'].errors.required">
                  Please select a end date
                </div>
              </div>
            </div>

          </div>
          <div class="col p-3">
            <div class="row">
              <!-- summary  -->
              <div class="col m-2 leave-summary">
                <h5 class="form-control-label">
                  Your leave request includes
                </h5>

                <div class="row" *ngIf="isAllDay()">
                  <div class="col-9">
                    {{ formModel.controls['startDate'].value | date: 'd MMM' }} - {{ formModel.controls['endDate'].value
                    | date: 'd MMM' }}
                  </div>
                  <div class="col">
                    <select formControlName="leaveDayDuration" class="leave-day-duration"
                      (change)='onOptionsSelected()'>
                      <option *ngFor="let item of keys(daysType)" [ngValue]="item">{{item | removeUnderscore }}</option>
                    </select>
                  </div>
                </div>

                <div formArrayName="leaveSchedule" *ngFor="let item of formModel.controls['leaveSchedule'].controls; let i = index">
                  <div class="row" [formGroupName]="i">
                    <div class="col">
                      {{ getFormControl(item, 'date').value  | date: 'EEEE, d MMM' }}
                    </div>
                    <div class="col">
                      <select formControlName="leaveDayType" class="leave-day-duration" (change)='updateUsedDays(i)'>
                        <option *ngFor="let item of keys(daysType)" [ngValue]="item">{{item |
                          removeUnderscore }}</option>
                      </select>
                    </div>
                    <div class="col">
                      <select formControlName="halfDaySchedule" class="leave-day-duration">
                        <option *ngFor="let item of keys(halfDaySchedule)" [ngValue]="item">{{item | removeUnderscore }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <p *ngIf="negativeDays" class="alert alert-danger mt-2 mb-3">
                  <i class="fa-solid fa-triangle-exclamation"></i> Leave days exceeded
                </p>

                <div class="mt-3" *ngIf="leaveWithHolidays.length > 0">
                  <h6 class="form-control-label">
                    Excluded public holiday/s
                  </h6>
                  <div class="row" *ngFor="let publicHoliday of leaveWithHolidays">
                    <div class="col">{{ publicHoliday?.startDate | date: 'EEEE, d MMM' }}</div>
                    <div class="col">{{ publicHoliday?.title }}</div>
                    <div class="col"></div>
                  </div>
                </div>

                <hr class="horizontal dark my-2" />
                <h6 class="form-control-label">
                  {{ calculateDaysRequested() }} days of {{ formModel.controls['leaveType'].value | removeUnderscore }}
                  Leave
                </h6>
                <p>
                  {{ calculateDaysRemaining() }} days remaining
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- learners comments -->
        <div class="row mt-3">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="input-comments" [ngClass]="{
                  'red-text':
                    formModel.controls['comments'].invalid &&
                    formModel.controls['comments'].touched
                }">Comments</label>
              <textarea type="text" id="input-comments" class="form-control" formControlName="comments" [ngClass]="{
                  'red-border':
                    formModel.controls['comments'].invalid &&
                    formModel.controls['comments'].touched
                }">
              </textarea>
              <div class="red-text" *ngIf="
                  formModel.controls['comments'].invalid &&
                  formModel.controls['comments'].touched
                ">
                <div *ngIf="formModel.controls['comments'].errors.required">
                  Please type your comments for the approvers
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- attachments/ supporting documents -->
        <div class="row mt-3">
          <div class="col-12">
            <div class="form-group attachments" enctype="multipart/form-data">
              <label class="form-control-label" for="input-documents" [ngClass]="{
                  'red-text':
                    formModel.controls['documents'].invalid &&
                    formModel.controls['documents'].touched
                }">Upload attachments<span *ngIf="onLeaveTypeSelected(formModel.controls['leaveType'].value)"
                  class="red-text">*</span>
                <div class="attachment-block" [ngClass]="{
                    'attachment-block-red':
                      formModel.controls['documents'].invalid &&
                      formModel.controls['documents'].touched
                  }">
                  <div class="row">
                    <div class="col-5">
                      <i class="fa-solid fa-paperclip paperclip"></i>
                    </div>
                    <div class="col text-justify">
                      <h5 class="attachment-block-text">
                        <span class="text-blue">Upload a file</span> or drag and drop
                      </h5>
                      <p>PDF, PNG, JPG up to 10MB</p>
                    </div>
                  </div>
                </div>
              </label>
              <input type="file" id="input-documents" formControlName="documents"
                multiple="multiple"
                (change)="handleFileInput($event)"
                [ngClass]="{
                  'red-border':
                    formModel.controls['documents'].invalid &&
                    formModel.controls['documents'].touched
                }">
              <!-- <div class="progress" *ngIf="uploadProgress | async as progress">
                  <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': progress + '%' }"></div>
               </div> -->

              <div class="row mt-3" *ngIf="formModel.controls['documents'].value.length > 0">
                <div class="col">
                  <label class="form-control-label">Attachments</label>
                  <ul>
                    <li *ngFor="let attachment of formModel.controls['documents'].value">
                      <div class="bg-5-g4l-greeny-blue border-radius cursor-pointer fit-content p-1"
                        (click)="openOnNewTab(attachment?.filePath)">
                        <a class="p-2"><i class="fa-solid" [class]="getFileIcon(attachment?.fileName)"></i>
                          &nbsp;{{ attachment?.fileName }}</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="red-text" *ngIf="
                  formModel.controls['documents'].invalid &&
                  formModel.controls['documents'].touched
                ">
                <div *ngIf="formModel.controls['documents'].errors.required">
                  Please attach your files for the approvers
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6"></div>
          <div class="col-3 text-end">
            <button (click)="close()" class="btn btn-sm bg-2 gradient-primary mb-0 text-uppercase">
              Cancel</button>
          </div>
          <div class="col-3 text-end">
            <button (click)="applyForLeave()" [disabled]="negativeDays"
              class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark text-uppercase">
              Request</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
