<div class="container-fluid m-0 p-0">
    <div class="card m-0 p-0">
        <div class="card-header pb-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h6 class="mb-0">View Early Depatures</h6>
                </div>
                <div class="col-4">
                    <div class="card border-grey p-2">
                      <h6 class="fw-bold">{{ yesterdayDate| date: 'EEEE' }}</h6>
                      <p class="m-0 g4l-grey-text fw-bold">{{ yesterdayDate| date: 'd MMMM' }}
                        <span class="m-0 g4l-grey-text float-end fw-normal">{{ yesterdayDate | date: 'y' }}</span>
                      </p>
                    </div>
                  </div>
                <hr class="horizontal dark my-4" />
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col">
                    <!-- List of Absent Students -->
                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Sponsor</th>
                                    <th>Clock Out Time</th>
                                    <th>Phone Number</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="data.length > 0">
                                <ng-container  *ngFor="let ealyLogOuts of data ; let i = index">
                                <tr class="text-center">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ ealyLogOuts.name }}</td>
                                    <td>{{ ealyLogOuts.sponsor }}</td>
                                 
                                    <td>{{ ealyLogOuts.logOutTime}}</td>
                                    <td><a href="tel:0728685375" style="display: block; height:
                                     25px; width: 125px; background: #0a5dc9;
                                    color: #ffffff; text-align: center; 
                                    font-weight: bold; font-size: 80%;
                                    line-height: 25px; font-family: Arial; border-radius: 10px; text-decoration: none;
                                    "
                                   class="bg-blue" >(071)-778-7312</a></td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                <!-- Show a message if no students are absent -->
                    <div *ngIf="data.length === 0" class="text-center">
                        <p>No Early depatured students.</p>
                    </div>
                        <button class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark text-uppercase"
                            (click)="closeModal()">Close</button>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>