.goal-management-controls {
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
}

.goal-management-kanban {
  position: relative;
  cursor: grab;
  margin-top: .7rem;
  /* background-color: wheat; */
}

button {
  border-radius: 5px;
  background-color: #344767;
  color: #ffffff;
}

button i {
  position: relative;
  margin-right: 0.5rem;
}

.goal-kanban-content {
  height: 100%;
}

.backlogTextBackgroundColor {
  background-color: var(--g4l-backlog-state-color);
}
