<div class="container-fluid py-4">
  <div class="row align-items-center mb-4 containerSizing">
    <div class="row mt-3">
      <div class="col" *ngFor="let item of stats">
        <app-leave-balance-card>
          <ng-container title>
            <p>{{ item?.status | removeUnderscore}}</p>
          </ng-container>
          <ng-container total>
            <p>{{ item?.total }}</p>
          </ng-container>
          <ng-container chart>
            <div class="icon icon-shape text-center shadow border-radius-md m-3"
              [class]="getStatusBgColor(item?.status)">
              <i class="fa-solid mt-3" [class]="getStatusIcon(item?.status)"></i>
            </div>
          </ng-container>
        </app-leave-balance-card>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Leave request</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2" style="padding-left: 1.5rem !important;">
                      NAME
                    </th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                      SPONSOR
                    </th>

                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                      LEAVE TYPE
                    </th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                      DATE
                    </th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                      STATUS
                    </th>
                    
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                      MILESTONE
                    </th>
                    
                  </tr>
                </thead>
                <tbody *ngFor="let request of leaveApplications">
                  <tr>
                    <td class="align-middle text-xs ps-2" style="padding-left: 1.5rem !important;">
                      <p class="text-secondary mb-0">
                        {{request?.name}} {{request?.surname}}
                      </p>
                    </td>
                    <td class="align-middle text-xs ps-2">
                      <p class="text-secondary mb-0">
                        {{request?.sponsorName}}
                      </p>
                    </td>
                    <td class="align-middle text-xs ps-2">
                      <p class="text-secondary mb-0">
                        {{request.leaveType | removeUnderscore}}
                      </p>
                    </td>
                    <td class="align-middle text-xs ps-2">
                      <p class="font-weight-bold mb-0">
                        {{ request.startDate | date: 'dd MMM YYYY' }} - {{ request.endDate | date: 'dd MMM YYYY' }}
                      </p>
                    </td>
                    <td class="align-middle text-xs ps-2">
                      <div>
                        <p class="text-secondary mb-0">
                          <i class="fa-solid" [class]="getStatusIcon(request?.status)"></i>
                          {{request.status}}
                        </p>
                      </div>
                    </td>
                    <td class="align-middle text-xs ps-2">
                      <p class="text-secondary mb-0">
                        {{ request?.milestone }}
                      </p>
                    </td>
                    
                    <td class="align-middle dropdown">
                      <button class="btn btn-link text-secondary mb-0 dropdown-toggle" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i aria-hidden="true" class="fa fa-ellipsis-v text-xs"></i>
                      </button>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                          <a class="dropdown-item" (click)="reviewLeave(request)">
                            <i class="fa-solid fa-user-pen text-xs"></i>&nbsp;&nbsp;Review leave</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
