<div class="container-fluid m-0 p-0">
  <div class="card m-0 p-0">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-8">
          <div>
            <h6 class="mb-0">REVIEW REQUEST</h6>
          </div>
        </div>
        <div class="col-4 text-end">
          <a (click)="close()" class="cursor-pointer">
            <i class="fa-solid fa-xmark"></i></a>
        </div>
      </div>

    </div>
    <hr class="horizontal dark" />
    <div class="row p-2">
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="row align-items-center no-gutters ">
          <div class="col me-2">
            <div class="fw-bold text-xs mb-2"><span>
                <p><i class="fa-solid fa-user"></i>{{request?.user.name}} {{request?.user.surname}}</p>
              </span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>
                <h6><i class="fa-solid fa-building"></i>Sponsor</h6>
              </span></div>
            <div class="fw-bold text-xs mb-2"><span>
                <p><i class="fa-solid fa-briefcase"></i>Career</p>
              </span></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="card border-grey border-start-success py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class=" fw-bold text-xs mb-1"><span>
                    <p>Days Used</p>
                  </span></div>
                <div class="text-dark fw-bold h5 mb-0"><span>
                    <h6>10</h6>
                  </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="card border-grey border-start-warning py-2 ">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class=" fw-bold text-xs mb-1"><span>
                    <p>Days Available</p>
                  </span></div>
                <div class="text-dark fw-bold h5 mb-0"><span>
                    <h6>2</h6>
                  </span></div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="card border-grey border-start-warning py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class=" fw-bold text-xs mb-1 display-flex"><span>
                    <p><i class="fa-solid fa-thumbs-up"></i> PARTIALLY APPROVED</p>
                  </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- second row -->
    <div class="row p-2">
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="row align-items-center no-gutters ">
          <div class="col me-2">
            <div class="fw-bold text-xs mb-2"><span>
                <p> Leave Type</p>
              </span></div>
            <div class="text-dark fw-bold h5 mb-0"><span>
                <select name="leaves" id="leaves" disabled>
                  <option value="leave_types">Annual</option>
                </select>
              </span></div>
          </div>


        </div>
      </div>
      <div class="col-md-3 col-xl-3 mb-1">
        <div class="card border-grey border-start-success py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class=" fw-bold text-xs mb-1"><span>
                    <p>Attachments</p>
                  </span></div>
                <div class="text-dark fw-bold h5 mb-0"><span>
                    <p>document1 document2</p>
                  </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- second row -->

      <!-- third row -->
      <div class="row p-2">
        <div class="col-md-3 col-xl-3 mb-1">
          <div class="card border-grey border-start-success py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class=" fw-bold text-xs mb-1"><span>
                      <p>Days Used</p>
                    </span></div>
                  <div class="text-dark fw-bold h5 mb-0"><span>
                      <h6>10</h6>
                    </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-3 mb-1">
          <div class="card border-grey border-start-warning py-2 ">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class=" fw-bold text-xs mb-1"><span>
                      <p>Days Available</p>
                    </span></div>
                  <div class="text-dark fw-bold h5 mb-0"><span>
                      <h6>2</h6>
                    </span></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-3 mb-1">
          <div class="card border-grey border-start-warning py-2">
            <div class="card-body">
              <div class="row align-items-center no-gutters">
                <div class="col me-2">
                  <div class=" fw-bold text-xs mb-1 display-flex"><span>
                      <p><i class="fa-solid fa-thumbs-up"></i> PARTIALLY APPROVED</p>
                    </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- third row -->
      <!-- learner textArea -->
      <div class="row p-2 text-area">
        <div class="col-md-3 col-xl-3 mb-1 w-100">
          <div class="row align-items-center no-gutters w-100">
            <div class="col me-2  w-100">
              <div class="fw-bold text-xs mb-2"><span>
                  <p> Comments </p>
                </span></div>
              <div class="text-dark fw-bold h5 mb-0 w-100"><span>
                  <div class="form-group">
                    <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
                  </div>
                </span></div>
            </div>


          </div>
        </div>
      </div>
      <!-- learner textArea -->
      <!-- trainer -->
      <div class="row p-2 text-area">
        <div class="col-md-3 col-xl-3 mb-1 w-100">
          <div class="row align-items-center no-gutters w-100">
            <div class="col me-2  w-100">
              <div class="fw-bold text-xs mb-2"><span>
                  <p> Note from trainer</p>
                </span></div>
              <div class="text-dark fw-bold h5 mb-0 w-100"><span>
                  <div class="form-group">
                    <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3" disabled></textarea>
                  </div>
                </span></div>
            </div>


          </div>
        </div>
      </div>
      <!-- trainer -->
      <!-- management -->
      <div class="row p-2 text-area">
        <div class="col-md-3 col-xl-3 mb-1 w-100">
          <div class="row align-items-center no-gutters w-100">
            <div class="col me-2  w-100">
              <div class="fw-bold text-xs mb-2"><span>
                  <p> Note from management</p>
                </span></div>
              <div class="text-dark fw-bold h5 mb-0 w-100"><span>
                  <div class="form-group">
                    <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </span></div>
            </div>


          </div>
        </div>
      </div>
      <!-- management -->
    </div>
  </div>
