mat-card {
  position: fixed;
  width: 14rem;
  right: 1.8rem;
  bottom: 1.8rem;
  z-index: 999;
}

mat-card:hover {
  cursor: move;
}

mat-card.good {
  background-color: #397097 !important;
}

mat-card.warning {
  background-color: rgb(222, 74, 6) !important;
}

mat-card.danger {
  background-color: red !important;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

mat-card-title {
  position: relative;
  width: 12rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #ffffff;
  /* font-weight: bold; */
}

mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-content b {
  color: #ffffff;
  font-size: 25pt;
}

mat-card-actions {
  display: none;
  align-items: center;
  justify-content: center;
}

mat-card-actions button {
  font-size: 10pt;
}
