<div class="container-fluid py-4" style="padding-top: 15px !important">
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 shadow-none border-radius-xl"
    id="navbarBlur"
    navbar-scroll="true"
  >
    <div *ngIf="url" class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-dark" href="javascript:;">Pages</a>
          </li>
          <li
            class="breadcrumb-item text-sm text-dark active"
            aria-current="page"
          >
            {{ url | titlecase }}
          </li>
        </ol>
        <h6 class="font-weight-bolder mb-0">{{ url | titlecase }}</h6>
      </nav>
      <div
        class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
        id="navbar"
      >
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
            <span class="input-group-text text-body"
              ><i class="fas fa-search" aria-hidden="true"></i
            ></span>
            <!-- <input
              type="text"
              class="form-control"
              placeholder="Type here..."
              onfocus="focused(this)"
              onfocusout="defocused(this)"
            /> -->
            <input
              type="text"
              class="form-control"
              placeholder="{{searchTarget | titlecase}}" ngModel="filterTerm">
          </div>
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item px-3 d-flex align-items-center">
            <a
              href="javascript:;"
              class="nav-link text-body p-0"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-bell cursor-pointer" aria-hidden="true"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
              aria-labelledby="dropdownMenuButton"
            >
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <!-- <img
                      src="../assets/img/team-2.jpg"
                      class="avatar avatar-sm me-3"
                    /> -->
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">Coming soon</span> you'll
                        behold
                      </h6>
                      <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1" aria-hidden="true"></i>
                        Will be ready in the near futrue sprints
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a
              href="javascript:;"
              class="nav-link text-body p-0"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="fa-solid fa-gear"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
              aria-labelledby="dropdownMenuButton"
            >
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" href="javascript:;">
                  <div class="d-flex py-1">
                    <div class="my-auto">
                      <!-- <img
                      src="../assets/img/team-2.jpg"
                      class="avatar avatar-sm me-3"
                    /> -->
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">Coming soon</span>
                      </h6>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a
              href="javascript:;"
              class="nav-link text-body font-weight-bold px-0"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="p-3">{{ username }}</span>
              <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
              aria-labelledby="dropdownMenuButton"
            >
              <li class="mb-2">
                <a class="dropdown-item border-radius-md" (click)="logout()">
                  <div class="d-flex py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <p class="text-xs text-secondary mb-0">
                        <i
                          class="fa-solid fa-arrow-right-from-bracket me-1"
                          aria-hidden="true"
                        ></i>
                        Logout
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
