<div class="container-fluid m-0 p-0">
  <div class="card p-3">
    <form autocomplete="off" [formGroup]="formModel" (ngSubmit)="addNewGoal()">
      <template>Header</template>
      <div class="card-header p-0 pb-2 m-0 border-bottom">
        <div class="row m-0 p-0 d-flex align-items-center">
          <div class="col-8 p-0">
            <h5 class="m-0 font-weight-bold">CREATE A GOAL</h5>
          </div>
          <div class="col-4 text-end">
            <a (click)="closeCaptureGoalModal()" class="cursor-pointer">
              <i class="fa-solid fa-xmark"></i
            ></a>
          </div>
        </div>
      </div>

      <template>Body</template>
      <div class="card-body p-0 row m-1 d-block">
        <div class="col-12 row m-0 p-0 pb-2 pt-2 border-bottom">
          <div class="col p-0 d-block text-start coursename">
            <p class="m-0">
              <i class="fa-solid fa-book"></i>
              <b class="fw-bold g4l-grey-text">Module/Course Name goes here</b>
            </p>
            <p class="m-0">
              <i class="fas fa-clock"></i>
              <b class="fw-bold g4l-grey-text">Module/Course duration</b>
            </p>
          </div>
          <div class="col-5 p-0 text-start">
            <div class="rounded p-2 bg-dark nextcourse">
              <p class="white-text text text-bold m-0">
                <strong>Up Next</strong>
              </p>
              <p class="white-text m-0">Agile Development</p>
            </div>
          </div>
        </div>

        <div class="col-12 row m-0 p-0">
          <div class="col-12 row m-0 p-0 pt-3 pb-3">
            <div class="col p-0">
              <label
                class="form-control-label"
                [ngClass]="{
                  errorMessage:
                    isFormControlTouched('duration') &&
                    isFormControlInvalid('duration')
                }"
              >
                <span>What is your goal</span>
                <sup class="text-danger">*</sup>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                placeholder="Enter your goal..."
                [ngClass]="{
                  error:
                    isFormControlTouched('title') &&
                    isFormControlInvalid('title')
                }"
              />
            </div>
            <div class="col-3 pr-0">
              <div>
                <label
                  class="form-control-label"
                  [ngClass]="{
                    errorMessage:
                      isFormControlTouched('duration') &&
                      isFormControlInvalid('duration')
                  }"
                  >Duration (hh:mm) <sup class="text-danger">*</sup></label
                >
                <input
                  type="time"
                  class="form-control"
                  formControlName="duration"
                  #tooltip="matTooltip"
                  matTooltip="Minimum goal time is {{
                    minimumGoalDuration
                  }} minutes"
                  [ngClass]="{
                    error:
                      isFormControlTouched('duration') &&
                      isFormControlInvalid('duration')
                  }"
                />
              </div>
            </div>

            <div class="col-12 row m-0 p-0">
              <div class="p-0 mt-3">
                <label class="form-control-label">
                  <span>Description</span>
                  <span class="text-muted">(Optional)</span>
                </label>
                <textarea
                  class="form-control"
                  rows="3"
                  formControlName="description"
                  placeholder="Describe your goal..."
                ></textarea>
              </div>
            </div>

            <div class="col-12 row m-0 p-0">
              <app-tasks
                *ngIf="goalObject?.tasks"
                [goalObject]="goalObject"
                [viewType]="'create'"
                [goalStatus]="goalObject.goalStatus"
                class="m-0 p-0"
              ></app-tasks>
            </div>
          </div>
        </div>
      </div>

      <template>Footer</template>
      <div class="card-footer row m-0 p-2 border-0">
        <div class="col text-start p-0">
          <button
            class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark"
            type="button"
            (click)="addGoalTask()"
          >
            <i class="fa-solid fa-pen mr-2"></i>
            <span>Add Task</span>
          </button>
        </div>
        <div class="col text-end p-0">
          <button class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark">
            Add Goal
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
