<div class="container-fluid py-4">
  <div class="row align-items-center mb-4">
    <div class="col-8"></div>
    <div class="col-4 text-end">
      <a
        class="btn btn-sm bg-2 gradient-primary mb-0 btn-dark"
        (click)="openDialog()"
      >
        <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add new
        user</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Users table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
                  >
                    Details
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
                  >
                    ID Number
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
                  >
                    Role
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
                  >
                    Stream
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
                  >
                    Start date
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <div class="d-flex">
                      <div>
                        <!-- <img
                          src="../assets/img/team-2.jpg"
                          class="avatar avatar-sm me-3"
                          alt="user1"
                        /> -->
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">
                          {{ user?.name }} {{ user?.surname }}
                        </h6>
                        <p class="text-secondary mb-0 text-xs">
                          {{ user?.email }} - {{ user?.phone }}
                        </p>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-xs ps-2">
                    <p class="font-weight-bold mb-0">{{ user?.idNumber }}</p>
                  </td>
                  <td class="align-middle text-xs ps-2">
                    <p class="font-weight-bold mb-0">
                      {{ user?.role | removeUnderscore }}
                    </p>
                  </td>
                  <td class="align-middle text-xs ps-2">
                    <div *ngIf="user?.career === 'None'; else learner">
                      <p class="font-weight-bold mb-0">
                        Not applicable
                      </p>
                    </div>
                    <ng-template #learner>
                      <p class="font-weight-bold mb-0">
                        {{ user?.career | removeUnderscore }}
                      </p>
                      <p class="text-secondary mb-0">{{ user?.client }}</p>
                    </ng-template>
                  </td>
                  <td class="align-middle text-xs ps-2">
                    <p class="font-weight-bold mb-0">
                      {{ user?.learnershipStartDate | date: "dd/MM/YYYY" }}
                    </p>
                  </td>
                  <td class="align-middle dropdown">
                    <button
                      class="btn btn-link text-secondary mb-0 dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i
                        aria-hidden="true"
                        class="fa fa-ellipsis-v text-xs"
                      ></i>
                    </button>

                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      <li>
                        <a class="dropdown-item" (click)="openDialog(user)">
                          <i class="fa-solid fa-user-pen text-xs"></i
                          >&nbsp;&nbsp;Edit User</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="deleteUser(user?.id)">
                          <i class="fa-solid fa-user-pen text-xs"></i
                          >&nbsp;&nbsp;Delete User</a
                        >
                      </li>
                      <!-- <li>
                        <a class="dropdown-item" href="#"
                          ><i class="fa-solid fa-user-xmark"></i>&nbsp;&nbsp;Remove User</a
                        >
                      </li> -->
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
